#info {
    margin-top: 20px;
}

.btn {
    margin-top: 30px;
    width: 130px;
    background: #0829a0;
    color: #fff;
    width: 100%;
}

.rounded {
    position: absolute;
    left: 30%;
    bottom: 50%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rounded {
        bottom: 85%;
    }
}

@media only screen and (min-device-width: 960px) and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
    /*pc large*/
    .rounded {
        bottom: 70%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 1140px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    /*pc xtralarge*/
    .rounded {
        bottom: 50%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 2) {
    /*ipad pro*/
    .rounded {
        bottom: 70%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 2) {
    /*ipad pro*/
    .rounded {
        bottom: 60%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 2) {
    /*ipad*/
    .rounded {
        top: 2%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 2) {
    /*ipad*/
    .rounded {
        top: 2%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 2) {
    .rounded {
        bottom: 50%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 2) {
    /*ipad*/
    .rounded {
        bottom: 80%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /*iphonex */
    .rounded {
        top: 3%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /*iphone x*/
    .rounded {
        bottom: 70%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px)and (orientation: portrait) {
    /*iphon6/7/8 portrait*/
    .rounded {
        top: 5%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .btn {
        width: 100%;
    }
    .rounded {
        bottom: 90%;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    /*iphone 6/7/8 plus*/
    .rounded {
        bottom: 75%;
    }
    h1 {
        padding-top: 10%;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    /*iphone 6/7/8 plus*/
    .rounded {
        bottom: 75%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    /* iphone 5 */
    .rounded {
        top: 3%;
    }
    h1 {
        padding-top: 13%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    /* iphone 5 */
    .rounded {
        bottom: 80%;
    }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {
    /* pixel */
    .rounded {
        bottom: 70%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    /* iphone4 */
    .rounded {
        bottom: 75%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
    /* iphone4 */
    .rounded {
        bottom: 80%;
    }
}