h1 {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

h6 {
    text-align: center;
    font-weight: lighter;
    color: #fff;
}

body {
    background: #17A2B8;
}

p {
    text-align: center;
}

#amount {
    margin-right: 50px;
}

.navbar-brand {
    text-align: left;
}

#from {
    width: 150px;
    margin: 10px;
    margin-right: 50px;
}

#to {
    width: 150px;
    margin: 10px;
    margin-right: 50px;
}

.btn {
    width: 130px;
}

#one {
    position: relative;
}

.navbar {
    color: #fff;
}

.collapse navbar-collapse {
    float: right;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #amount,
    #from,
    #to,
    .btn {
        width: 100%;
    }
}